body{
    box-sizing: border-box;
    padding: 0;
    font-family: cursive;
}

.cointainer{
    border: 2px solid gray;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}



